---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Link from "../components/Link.astro"
---

<!doctype html>
<html lang="de" class="bg-ctp-base text-ctp-text dark:ctp-mocha">
    <head>
        <BaseHead title="Frank Mayer" />
    </head>
    <body>
        <Header title="Frank" />

        <main>
            <h1>
                <img class="pointer-events-none inline-block aspect-square w-32" src="/frank-mayer.avif" alt="" />
                Frank&nbsp;Mayer
            </h1>
            <br />
            <p>Software Engineer @ <Link href="https://www.dynabase.de">dynabase&nbsp;Technologies&nbsp;GmbH</Link></p>
            <p>Homepage <Link href="https://frankmayer.dev">frankmayer.dev</Link></p>
            <p>GitHub <Link href="https://github.com/tsukinoko-kun">tsukinoko-kun</Link></p>
            <p>
                LinkedIn <Link href="https://www.linkedin.com/in/frank-mayer-de/">frank-mayer-de</Link>
            </p>
        </main>
        <Footer />
    </body>
</html>
