---
import Default from "../layouts/Default.astro"
import Link from "../components/Link.astro"
---

<Default title="Vanessa Vieth" short="Vanessa" description="Autor bei think.of(it);">
    <h1>
        <img class="pointer-events-none inline-block aspect-square w-32" src="/vanessa-vieth.avif" alt="" />
        Vanessa&nbsp;Vieth
    </h1>
    <br />
    <p>
        LinkedIn <Link href="https://www.linkedin.com/in/vanessa-v-1421a81a7/">vanessa-v-1421a81a7</Link>
    </p>
</Default>
