---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Link from "../components/Link.astro"
import { SITE_DESCRIPTION } from "../consts"

const SITE_TITLE = `think.of("Vanessa Vieth");`
---

<!doctype html>
<html lang="de" class="bg-ctp-base text-ctp-text dark:ctp-mocha">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />

        <main>
            <h1>Vanessa Vieth <img class="inline-block aspect-square w-32" src="/vanessa-vieth.jpg" alt="" /></h1>
            <br />
            <p>
                LinkedIn <Link href="https://www.linkedin.com/in/vanessa-v-1421a81a7/">vanessa-v-1421a81a7</Link>
            </p>
            <Footer />
        </main>
    </body>
</html>
