---
import "firebaseui/dist/firebaseui.css"
import { Comments as ClientComments } from "./Comments.tsx"
---

<section id="comments">
    <div id="firebaseui-auth-container"></div>
    <ClientComments client:only />
</section>
