---
import { SITE_TITLE } from "../consts"

const today = new Date()
---

<footer class="footer my-16">
    &copy; {today.getFullYear()}
    {SITE_TITLE} – All rights reserved. <br />
    <a href="/impressum">Impressum</a>
</footer>
