---
import { SITE_TITLE } from "../consts"
---

<header>
    <nav class="fixed left-0 top-0 mb-4 flex w-full flex-col bg-ctp-crust px-4 py-2">
        <a href="/" class="font-mono text-xl hover:text-ctp-mauve">{SITE_TITLE}</a>
    </nav>
    <div class="block h-10"></div>
</header>
