---
interface Props {
    href: string
}
const extern = Astro.props.href.startsWith("https://")
---

<a
    class="text-ctp-text underline hover:text-ctp-mauve"
    href={Astro.props.href}
    target={extern ? "_blank" : undefined}
    rel={extern ? "noopener noreferrer nofollow" : undefined}
>
    <slot />
</a>
