---
import type { CollectionEntry } from "astro:content";
import { Comments } from "../components/Comments.tsx";
import FormattedDate from "../components/FormattedDate.astro";
import Default from "./Default.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<Default {...Astro.props} article>
    <article itemscope itemtype="https://schema.org/article">
        <div>
            <div>
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div>
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>
            <h1 itemprop="name">{title}</h1>
        </div>
        <slot />
    </article>
    <h2>Kommentare</h2>
    <Comments client:only="solid-js" />
</Default>
