---
import Default from "./Default.astro"
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import { Comments } from "../components/Comments.tsx"

type Props = CollectionEntry<"articles">["data"]

const { title, pubDate, updatedDate } = Astro.props
---

<Default {...Astro.props}>
    <article>
        <div>
            <div>
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div>
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>
            <h1>{title}</h1>
        </div>
        <slot />
    </article>
    <Comments client:only="solid-js" />
</Default>
